*{
    margin: 0;
    padding: 0;  
}

.container{
    display: grid;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 5em;
    margin: 10%;
    color: White !important; 
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    background-color: transparent;
    color: white;
    margin-top: 5%;
    border: 1px solid white;
    width: 55vw;
    height: 2em;
}

button{
    background-color: white;
    width: 15%;
    height: 30px;
    border: 1px solid black;
}

.info{
    color: rgb(0, 0, 0);
}